# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage
package

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
appveyor.yml

#linters
.jscsrc
.jshintrc
.eslintrc*
.prettierrc

#editor settings
.idea
.editorconfig
