html {
    overflow: hidden;
}

.container.is-fluid {
    margin: 32px;
}

.column:not(:first-child) {
    height: 100vh;
}

.feed-list {
    height: 100vh;
    margin-top: 10px;
    overflow: auto;
}

.feed-list .space {
    height: 15vh;
}

.post-detail {
    height: 100vh;
    overflow: auto;
}

.post-detail .space {
    height: 10vh;
}

.bulma {
    position:fixed;
    left:0;
    bottom:0;
    height: 30px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(128,128,128,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128,128,128,0.5);
}
